.header {
    background-color: #282c34;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;  /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el tamaño total del elemento */
  }
  
  .header h1 {
    font-size: 2rem;
    margin: 0;
  }
  