.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


.footer {
    background-color: #1f2937; /* Color oscuro */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    border-top: 2px solid #4b5563; /* Línea decorativa */
  }

  .content {
    flex: 1; /* Esto asegura que el contenido ocupe el espacio disponible */
  }
  
  .footer a {
    color: #60a5fa; /* Azul claro */
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  